.errorMessage {
    color: #ff0015;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.welcome h1 {
    font-size: 25px;
    padding: 10px;
}

.loginBreak {
    padding: 30px;
}

.question {
    font-size: 200px;
}

.login {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    /* border-radius: 30px; */
}


.loginForm {
    margin: auto;
    flex-basis: 250px;
    box-shadow: 0.1px 2.5px 8.8px 0.5px grey;
    padding: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    height: 450px;
}

.loginFormInput {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.loginFormInput>input,
.loginFormInput>input:focus {
    outline: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 10px;
    width: 350px;
    font-size: 15px;
}

@media (max-width: 500px) {
    .loginFormInput>input {
        width: 320px;
    }
}


.loginFormInput>label{
    font-size: 12.5px;
    font-weight: 645;
}

.loginButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginButton>button {
    background-color: #232F3E;
    color: white;
    width: 250px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
}

.forgotPassword {
    text-align: end;
    font-size: 14px;
    width: 90%;
    font-weight: 600;
    padding: 5px;
}

.forgotPassword a {
    text-decoration: none;
    color: blue;
}

.loginMessage {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}

.loginMessage a {
    text-decoration: none;
    color: blue;
}