.errorMsg{
    text-align: center;
    background-color: red;
    color: white;
    padding: 15px;
}

.customerOne{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    border: 1px solid tomato;
    padding: 20px;
    margin-top: 20px;
    border-radius: 2px;
}

.customerOne:hover{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    border: 1px solid tomato;
    background-color: tomato;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.customerHeader{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.searchHeader{
    width: 300px;
    padding: 10px;
}

.searchHeader:focus{
    outline: none;
}

.noCustomers{
    text-align: center;
    color: tomato;
    margin-top: 15px;
}

@media (max-width: 500px){
    .customerHeader, .customerOne{
        width: 95%;
    }
}

@media (max-width: 700px){
    .customerHeader, .customerOne{
        width: 95%;
    }
}