
.navigation{
    display: flex;
    justify-content: baseline;
}

.leftLinks{
    justify-content: space-around;
}

.rightLinks{
    justify-content: flex-end;
    align-items: baseline;
}

.rightLinks, .leftLinks{
    display: flex;
    list-style: none;
    width: 30%;
    margin: auto;
}

.rightLinks li, .leftLinks li{
    padding: 10px;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.rightLinks li a, .leftLinks li a{
    text-decoration: none;
}

.navButtons{
    color: inherit;
}

.logout{
    border: 0;
    color: white;
    background-color: tomato;
    padding: 10px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}

.user{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

@media (max-width: 500px){
    .rightLinks, .leftLinks{
        width: 45%;
    }
}